<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>421483972270-fn4f8ubinl5623nhkkfgkh5bn630q4m5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421483972270-fn4f8ubinl5623nhkkfgkh5bn630q4m5</string>
	<key>API_KEY</key>
	<string>AIzaSyByCajHiNE9OcZuNJZWxeW0WVA8qp8eBRE</string>
	<key>GCM_SENDER_ID</key>
	<string>421483972270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shreyak.Makestagram</string>
	<key>PROJECT_ID</key>
	<string>makestagram-4d3e0</string>
	<key>STORAGE_BUCKET</key>
	<string>makestagram-4d3e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421483972270:ios:0efdbc67dadc4730</string>
	<key>DATABASE_URL</key>
	<string>https://makestagram-4d3e0.firebaseio.com</string>
</dict>
</plist>